$columns: 12;
$columns-gap: 30px;

$desktop-screen: 1200px;
$tablet-screen: 756px;
$mobile-screen: 320px;


@mixin media-phone {
  @media (max-width: #{$tablet-screen}) {/*756*/
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: #{$tablet-screen + 1px}) and (max-width: #{$desktop-screen - 1px}) {/*757-1199*/
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: #{$desktop-screen}) {/*1200*/
    @content;
  }
}

@mixin grid-container {
  margin: 0 auto;
  overflow: hidden;
  @include media-phone {
    width: $mobile-screen;
  }
  @include media-tablet {
    width: $tablet-screen - 30px;
  }
  @include media-desktop {
    width: $desktop-screen - 30px;
  }
}

@mixin breaking-container {
  margin: 0 auto;
  @include media-phone {
    width: $mobile-screen;
  }
  @include media-tablet {
    width: $tablet-screen - 30px;
  }
  @include media-desktop {
    width: $desktop-screen - 30px;
  }
}

@mixin grid-row($gap: $columns-gap) {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(#{$gap} / -2);
}

@mixin grid-item($gap: $columns-gap) {
  box-sizing: border-box;
  margin:0 calc(#{$gap} / 2);
}


@mixin col-desktop($occupied-columns) {
  @include media-desktop {
    width: calc(100% / #{$columns} * #{$occupied-columns} - #{$columns-gap});
  }
}

@mixin col-tablet($occupied-columns) {
  @include media-tablet {
    width: calc(100% / #{$columns} * #{$occupied-columns} - #{$columns-gap});
  }
}

@mixin col-mobile($occupied-columns) {
  @include media-phone {
    width: calc(100% / #{$columns} * #{$occupied-columns} - #{$columns-gap});
  }
}
